@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&display=swap') ;


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Fira Sans, sans-serif;
}

body {
  background-color: #edede9;
  height: 100vh;
}

a {
  color: white;
  text-decoration: none;
}

.header {
  display: flex;
  color: white;
  background-color: #386641;
  min-height: 8vh;
  justify-content: center;
  align-items: center;
  min-width: 300px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70vh;
}

.ferramentas {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.paletaCores {
  width: 100%;
  text-align: center;
  background-color: #acacac;
  color: white;
  padding: 5px 30px;
  margin-bottom: 5px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px black;
  display: flex;
  justify-content: space-evenly;
}

.ferramentas h3 {
  margin: 15px;
}

.ferramentas hr {
  margin-bottom: 10px;
}

.tituloPaleta {
  text-align: center;
  margin-bottom: 5px;
  font-size: small;
}

.color-palette {
  max-width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: row;
  flex-wrap: wrap;
}

/* .color-palette .botoes {
} */

.color {
  margin: 2px;
  border: 1px solid black;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.footer {
  position: fixed;
  display: flex;
  color: white;
  background-color: #386641;
  min-height: 8vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  bottom: 0;
}

.button-random-color {
  background-color: #e7e7e7;
  max-width: 100px;
  padding: 5px;
  color: black;
  border-radius: 5px;
  font-size: small;
  cursor: pointer;
  border: none;
  font-family: monospace;
  flex-grow: 1;
}

.pixel-board {
  display: flex;
  flex-direction: column;
  margin-top: 2px;
}

.linha {
  display: flex;
  background-color: #ececdd;
  justify-content: center;
  width: 100%;
}

.pixel {
  display: inline-block;
  background-color: white;
  border: 1px solid;
  caret-color: red;
  cursor: pointer;
}

.ferBotoes {
  padding: 5px;
  display: flex;
  justify-content: center;
}

.conf {
  width: 100%;
  display: flex;
  padding: 2px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #88888818;
}

.board-size {
  width: 0;
  flex-grow: 2;
  text-align: center;
  border: none;
}

.inputs {
  display: flex;
  flex-direction: row;
  height: 25px;
  margin: 2px;
}

.generate-board {
  flex-grow: 2;
  margin-left: 5px;
  background-color: #e7e7e7;
  color: black;
  border-radius: 5px;
  font-size: small;
  cursor: pointer;
  border: 1px solid white;
  font-family: monospace;
}

.mainInputs {
  background-color: #c7c7c5;
  border-radius: 10px;
  padding: 8px 10px;
  margin-right: 10px;
  box-shadow: 1px 2px 3px;
}


.clear-board {
  margin-right: 10px;
  color: black;
  cursor: pointer;
  padding: 10px;
  background-color: #c7c7c5;
  max-height: 50px;
  border-radius: 10px;
  box-shadow: 1px 1px 3px;
}

.dCorSelecionada {
  border: 2px solid black;
  margin-right: 10px;
  border-radius: 500px;
  width: 20px;
  height: 20px;
}

.indicator {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.borracha {
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 10px;
}

.borracha img {
  max-width: 100%;
  max-height: 100%;
}
