:root {
    --alturaObstaculo: 90px;
    --backgroundPlayer: url(imagens/mario.gif)
}

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Electrolize', sans-serif;
    /* font-family: 'Press Start 2P', cursive; */
}

body {
  background-image: url(imagens/ceu.jpeg);
  background-size: contain;
  background-repeat: repeat-x;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
.game {
    background-position: bottom;
    background-repeat: repeat-x;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

.player {
    border: 1px solid red;
    background-image: var(--backgroundPlayer);
    background-size: contain;
    background-repeat: no-repeat;
    height: 140px;
    width: 200px;
    position: absolute;
    bottom: 69px;
    left: 10vw;
    z-index: 1;
}
.chao {
    background-image: url(imagens/chao.jpeg);
    position: absolute;
    background-position: bottom;
    width: 100vw;
    height: 100vh;
    background-repeat: repeat-x;
    
}

.obstacle {
    background-size: contain;
    background-repeat: no-repeat;
    right: -100px;
    height: var(--alturaObstaculo);
    width: 100px;
    position: absolute;
    bottom: 69px;
    z-index: 2;
}

.obstacle img {
    width: 100px;
    height: var(--alturaObstaculo);
}
.velocidade {
    position: absolute;
    color: red;
    height: 50px;
    top: 0;
    right: 10px;
    z-index: 4;
}
/* 
.teste, .stop, .play {
    z-index: 1;
    position: absolute;
    top: 10px;
    left: 10px;
    
} */

.stop {
    left: 103px;
}

.play {
    left: 60px;
}
.info {
    position: absolute;
    color: white;
    font-size: 2em;
    top: 5vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    height: 20vh;
    width: 100%;
    background-color: rgba(102, 51, 153, 0.137);
}
.popUp {
    margin: 0 auto;
    position: absolute;
    top: 30vh;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.65);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.65);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.65);
    text-align: center;
    z-index: 2;
}
.containerMsg {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    /* min-width: 40vw; */
    /* min-height: 15vh; */
    

}

.mensagem {
    min-width: 20vw;
    width: 50%;
    
}
.resultados {
    min-width: 20vw;
    width: 50%;
}

.resultados h2 {
    text-align: center;
    margin: 10px;
    padding: 5px;
    border-bottom: 1px solid black;
}
.mensagem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    justify-items: center;
    text-align: center;
}


.mensagem h3 {
    margin: 20px 0;
}

.mensagem h5 {
    font-size: 0.55em;
}
.GameOver{
    font-size: 3.2vw;
    color: red;
    border-radius: 10px;
}
.rankCont {
    max-height: 15vh; 
    overflow-y: auto;
    overflow-x: hidden;
}

.pontuacao {
    display: flex;
    justify-content: space-between;
    padding: 2px 10px;
    width: 90%;
    margin: 2px 0;
    background-color: rgba(128, 128, 128, 0.103);
}

.pts{
    font-size: 0.8em;
}

.bestScore {
    font-size: 0.8em;
}

.trofeu{
    height: 1.2em;
    margin-bottom: -0.15em;
    margin-right: 0.2em;
}

.jogador, .score {
    font-size: 0.6em;
    
}

.sound{
    color: white;
    position: absolute;
    cursor: pointer;
    top: 5px;
    left: 10px;
    width: 3vw;
    height: 3vw;
    z-index: 5;
}
.contBotoes{
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    width: 100%;
    align-items: center;
    
}

.btnG{
    padding:5px 7px;
    font-size: 0.7em;
    border: 1px solid black;
    border-radius: 50px;
    font-weight: 900;
}
@keyframes pular {
    0% {
      transform: translateY(0);
      background-image: url(imagens/mario2.png);
    }
    40% {
      transform: translateY(calc(var(--alturaObstaculo)*-2.8));
      background-image: url(imagens/mario2.png);
    }
    90% {
        transform: translateY(calc(var(--alturaObstaculo)*-0.9));
        background-image: url(imagens/mario2.png);  
    }
    99% {
        background-image: url(imagens/mario2.png);
    }
    100% {
      transform: translateY(0);
      background-image: url(imagens/mario.gif);
    }
  }

@keyframes moverObj {
    from {
        background-position: 0 bottom;
    }
    to {
        background-position: -3776px bottom;
    }
}

@keyframes moveObstaculo {
    from {
        margin-right: 0;
    }
    to {
        margin-right: 120%;
    }
}