body {
    background-color: black;
    user-select: none;
}
.level{
    color: white;
    text-align: center;
    width: 100%;
    height: 60px;
    margin-bottom: 5px;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info{
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 0.8em;
    width: 100%;
    background-color: rgb(32, 32, 32);
    border-radius: 20px;
    padding: 10px 23px;
}
.infoRecord{
    display: flex;
}
.game{
    aspect-ratio: 1/1;
    margin: 0 auto;
    max-width: 80vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.gameContainerIconeGenius{
    position: relative;    
    aspect-ratio: 1/1;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gameGenius{
    aspect-ratio: 1/1;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    width: 90%;
    filter: saturate(10);
    border-radius: 100%;
}

.part{
    border: 5px solid rgb(255, 255, 255);
    cursor: pointer;
    filter: saturate(3%);
    /* delay iteration-count direction fill-mode; */
}

/*.elementActive:active {
    filter: saturate(100%)
}*/


.gLeftTop {
    border-top-left-radius: 100%;
    background-color:rgb(0, 255, 0);
}

.gRightTop {
    border-top-right-radius: 100%;
    background-color:red;
}

.gLeftBottom {
    border-bottom-left-radius: 100%;
    background-color: yellow;
}

.gRightBottom {
    border-bottom-right-radius: 100%;
    background-color: blue;
}

.gCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vmax;
    aspect-ratio: 1/1;
    position: absolute;
    width: 100%;
    max-width: 35%;
    border-radius: 100%;
    filter: saturate(1);
    border: 5px solid black;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}
.imgTrofeu {
    width: 15px;
    margin-right: 10px;
}
@keyframes blink {
    0% {
        filter: opacity(1);
    }
    10% {
        filter: opacity(0.01);
    }
    100% {
        filter: opacity(1);
    }
}